alias sa='source ~/.aliases'
alias ea='v ~/.aliases'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias c='printf "\n\n\n\n\n\n\n\n\n\n"'
alias ca='cd $1 && l'
alias cda='c && cd ~/a && l'
alias cdw='c && cd ~/workspace-dan && l'
alias cds='c && cd ~/workspace-sa && l'
alias cl='c; clear'
alias echopath='echo $PATH | tr : \\n | sort'
alias env='env | sort'
alias fd='find . -type d -iname'
alias ff='find . -type f -iname'
alias grepc='grep --color'
alias grepi='grep -i --color'
alias grepr='grep -i -r --color'
alias l='ls -Ahl'
alias lt='ls -Ahlrt'
alias lt5='ls -Ahlrt | tail -5'
alias v='vim'

alias ga='git add'
alias gaa='git add .'
alias gb='git branch -av'
alias gca='git commit -am'
alias gcaa='git add . && git commit -am'
alias gcm='git commit -m'
alias gco='git checkout'
alias gcod='git checkout dan'
alias gcom='git checkout main'
alias gcorc='git checkout releaseCandidate'
alias gd='git diff'
alias gl='git log -10 --oneline'
alias gl2='git log --oneline --name-status'
alias gph='git push'
alias gpl='git pull'
alias greset='git checkout . && git reset --hard && git status'
alias greseta='git checkout . && git reset --hard && git clean -d -f && git status'
alias gs='git status'

alias nrl='npm run lint'
alias nrs='npm run serve'
alias nrst='npm run start'
alias nrt='npm run test'
