alias ..='cd ..'
alias ...='cd ../..'
alias c='printf "\n\n\n\n\n\n\n\n\n\n"'
alias ca='cd $1 && la'
alias cl='c; clear'
alias ff='find . -type f -iname'
alias fd='find . -type d -iname'
alias la='ls -Ahl'
alias lt='ls -ahlrt'
alias lt5='ls -ahlrt | tail -5'
alias v='vim'

alias sa='source ~/.aliases'
alias ea='v ~/aliases'
