alias ..='cd ..'
alias ...='cd ../..'
alias c='printf "\n\n\n\n\n\n\n\n\n\n"'
alias ca='cd $1 && la'
alias cl='c; clear'
alias fd='find . -type d -iname'
alias ff='find . -type f -iname'
alias la='ls -Ahl'
alias lt='ls -Ahlrt'
alias lt5='ls -Ahlrt | tail -5'
alias v='vim'

alias ga='git add'
alias gd='git diff'
alias gl='git log -10 --oneline'
alias gs='git status'

alias sa='source ~/.aliases'
alias ea='v ~/.aliases'

alias grepc='grep --color'
alias grepi='grep -i --color'
alias grepr='grep -i -r --color'
alias showpath='echo $PATH | tr : \\n | sort'
