# Ignore everything
*

# Whitelist files in the root
!.gitignore
!cheat-sheet-regex.md
!learn.md
!favorite-links.md
!README.md

# Whitelist the directories
!a---level-up/
!ai/
!ai/machine-learning-cheat-sheet.md
!ai/general-game-playing/
!ai/general-game-playing/general-game-playing-cheat-sheet.md
!algorithms-and-data-structures/
!android/
!android/android-api-changes.md
!android/app-2015/
!android/database/
!android/testing/
!android/topic/
!autohotkey/
!autohotkey/app/
!autohotkey/app/auto-clicker.ahk
!autohotkey/app/play-audio-on-key-press/
!autohotkey/app/play-audio-on-key-press/play-audio-on-key-press.ahk
!blog/
!code-practice/
!code-practice/career-cup/
!code-practice/code-fights/
!code-practice/codeforces/
!code-practice/hacker-rank/
!code-practice/interview-cake/
!code-practice/interview-cake/src/
!code-practice/interview-cake/src/com/
!code-practice/interview-cake/src/com/danialgoodwin/
!code-practice/interview-cake/src/com/danialgoodwin/interviewcake/
!code-practice/interview-cake/src/com/danialgoodwin/interviewcake/question/
!code-practice/project-euler/
!code-practice/project-euler/note/
!code-practice/project-euler/src/
!compiler/
!compiler/compiler-cheat-sheet.md
!compiler/practice/
!compiler/practice/minimal-calculator-java/
!compiler/practice/minimal-calculator-java/Calc.java
!compiler/practice/minimal-calculator-python/
!compiler/practice/minimal-calculator-python/calc-interpreter-1.py
!compiler/practice/minimal-calculator-python/calc-interpreter-2.py
!compiler/practice/minimal-calculator-python/calc-interpreter-3.py
!compiler/practice/minimal-calculator-python/calc-interpreter-4.py
!compiler/practice/minimal-calculator-python/calc-interpreter-5.py
!compiler/practice/minimal-calculator-python/calc-interpreter-5-to-lisp.py
!compiler/practice/minimal-calculator-python/calc-interpreter-5-to-postfix.py
!compiler/practice/minimal-calculator-python/calc-interpreter-6.py
!compiler/sample/
!compiler/sample/calc-minimal/
!console/
!database/
!database/mongodb/
!database/mongodb/snippet/
!database/sql/
!game/
!game/libgdx/
!game/libgdx/app/
!git/
!git/git-cheat-sheet-intermediate.md
!language/
!language/c-plus-plus/
!language/c-plus-plus/c++-cheat-sheet.md
!language/c-plus-plus/app/
!language/c-plus-plus/app/practice/
!language/c-plus-plus/app/practice/**/*
!language/ceylon/
!language/dart/
!language/dart/app/
!language/dart/app/practice-minimal/
!language/java/
!language/java/app/
!language/java/app/practice-converter-temperature/
!language/java/app/practice-converter-temperature/**/*
!language/java/java-cheat-sheet.md
!language/java/java-cheat-sheet-printf.md
!language/java/java-cheat-sheet-reflection.md
!language/java/app-practice/
!language/java/app-practice/ssh-and-database-connection/
!language/java/javafx/
!language/java/javafx/app
!language/java/javafx/app/practice-calculator/
!language/java/javafx/app/practice-calculator/**/*
!language/java/project/
!language/java/project/javafx-game-connect-four/
!language/java/project/javafx-hello-world/
#!language/java/project/sa-calculator/
!language/java/snippet/
!language/javascript/
!language/haskell/
!language/haskell/project/
!language/haskell/project/bassbull/
!language/php/
!language/php/snippet/
!language/python/
!language/python/snippet/
!language/rebol/
!language/rebol/**/*
!language/ruby/
!language/ruby/project/
!language/ruby/project/simple-todo-list/
!language/ruby/project/simple-todo-list-on-rails/
!language/smalltalk/
!language/smalltalk/smalltalk-cheat-sheet.md
!media/
!note/
!/platform-atom/
!/platform-chrome/
!/platform-chrome/app-extension/
!/platform-chrome/app-extension/practice-hello-world/
!/platform-chrome/app-extension/practice-image-search/
!/platform-google-apps/
!/platform-google-apps/app/
!/platform-electron/
!/platform-intellij/
!topic/
!topic/factoring/
!topic/factoring/app/
!topic/gamification/
!topic/soft-skill/
!ux/
!web/
!web/html-cheat-sheet.md
!web/jekyll/
!web/jekyll/jekyll-cheat-sheet.md
!web/tool/
!web/tool/backbone-js-cheat-sheet.md
!web/tool/meteor/
!web/tool/meteor/meteor-cheat-sheet.md
!web/tool/meteor/app/
!web/tool/meteor/app/practice-meteor-todo/
!web/tool/meteor/app/practice-odot-angular/
!web/tool/meteor/app/practice-odot-react/
!web/tool/node-js/
!web/tool/node-js/node-cheat-sheet.md
!web/tool/node-js/app-sample/
!web/tool/node-js/app-sample/**/*
!web/tool/polymer/
!web/topic/
!web/topic/nginx-cheat-sheet.md



# Whitelist the files in the directories
!a---level-up/amazon-interview-cheat-sheet.md
!a---level-up/dev-interview-cheat-sheet.md
!a---level-up/level-up-algorithms.md
!a---level-up/level-up-android.mediawiki
!a---level-up/level-up-data-structure.mediawiki
!a---level-up/level-up-java.md
!a---level-up/level-up-programming.mediawiki
!a---level-up/level-up-tech-interview.md
!a---level-up/readme.md
!algorithms-and-data-structures/algorithms-cheat-sheet.md
!algorithms-and-data-structures/graphs.md
!algorithms-and-data-structures/heuristics.md
!android/app-2015/**/*
!android/database/database-query-performances.png
!android/testing/robolectric-cheat-sheet.md
!android/topic/fragment-lifecycle-complete.png
!android/topic/gitignore-template.txt
!android/topic/gradle-for-android-cheat-sheet.md
!android/topic/protips.md
!android/topic/adb-cheat-sheet.md
!autohotkey/double-click.ahk
!autohotkey/map-caps-to-enter.ahk
!autohotkey/switch-bracket-and-brace.ahk
!blog/article-you-dont-like-programming.md
!blog/my-java-code-style.md
!blog/naming-conventions.md
!code-practice/career-cup/**/*
!code-practice/code-fights/**/*
!code-practice/codeforces/**/*
!code-practice/hacker-rank/**/*
!code-practice/interview-cake/src/com/danialgoodwin/interviewcake/*
!code-practice/interview-cake/src/com/danialgoodwin/interviewcake/question/*
!code-practice/project-euler/.gitignore
!code-practice/project-euler/factors.xlsx
!code-practice/project-euler/note/**/*
!code-practice/project-euler/src/**/*
!code-practice/Permutation.java
!compiler/sample/calc-minimal/calc1.py
!console/console-cheat-sheet-beginner.md
!console/how-to-change-permissions.md
!database/database-cheat-sheet.md
!database/mysql-cheat-sheet.txt
!database/mongodb/snippet/cheat-sheet-mongodb-java.txt
!database/mongodb/snippet/helper-functions.txt
!database/sql/sql-cheat-sheet.md
!game/general-game-playing.md
!game/libgdx/libgdx-cheat-sheet.md
!game/libgdx/app/**/*
!git/git-data-transport-commands.png
!git/git-github-cheat-sheet.md
!git/readme.md
!language/ceylon/ceylon-cheat-sheet.txt
#!language/dart/
#!language/dart/app/
!language/dart/app/practice-minimal/**/*
!language/java/app-practice/ssh-and-database-connection/**/*
!language/java/javafx/readme.md
!language/java/project/javafx-game-connect-four/**/*
!language/java/project/javafx-hello-world/**/*
#!language/java/project/sa-calculator/**/*
!language/java/snippet/PracticeLongestCommonSubsequence.java
!language/javascript/javascript-cheat-sheet-basics.md
!language/javascript/jquery-cheat-sheet.md
!language/haskell/haskell-cheat-sheet.md
!language/haskell/project/bassbull/**/*
!language/php/php-cheat-sheet-beginner.md
!language/php/snippet/*
!language/python/snippet/bubble_up_subdirectories.py
!language/ruby/ruby-cheat-sheet-basics.md
!language/ruby/ruby-cheat-sheet-blocks.md
!language/ruby/ruby-cheat-sheet-oop.md
!language/ruby/ruby-cheat-sheet-standard-library.md
!language/ruby/ruby-cheat-sheet-testing.md
!language/ruby/project/simple-todo-list/*
!language/ruby/project/simple-todo-list-on-rails/**/*
!language/lisp-cheat-sheet.md
!language/notes.md
!language/readme.md
!media/imagemagick-cheat-sheet.md
!media/imagemagic-png32-to-png8.bat
!media/pngcrush.bat
!note/book--how-to-create-a-mind-by-ray-kurzweil.md
!note/book--the-design-of-everyday-things.md
!note/book--the-inner-game-of-tennis.md
!note/readme.md
!/platform-atom/atom-cheat-sheet.md
!/platform-chrome/app-extension/chrome-extensions-cheat-sheet.md
!/platform-chrome/app-extension/practice-hello-world/*
!/platform-chrome/app-extension/practice-image-search/*
!/platform-electron/electron-cheat-sheet.md
!/platform-google-apps/google-apps-script-cheat-sheet.md
!/platform-google-apps/app/practice-create-and-send-doc.gs
!/platform-intellij/intellij-cheat-sheet.md
!topic/app-category-downloads-revenue-per-user.jpg
!topic/code-design-cheat-sheet.md
!topic/code-design-patterns-cheat-sheet.md
!topic/cron-cheat-sheet.md
!topic/math-cheat-sheet.md
!topic/regex-cheat-sheet.md
!topic/vim-cheat-sheet.md
!topic/factoring/factoring-via-reverse-multiplication.txt
!topic/factoring/app/FactoringUtils0.java
!topic/gamification/gamification-flow.png
!topic/gamification/gamification-player-types.png
!topic/soft-skill/hackathon-pitch.md
!topic/soft-skill/agile-development.txt
!topic/uml-cheat-sheet.pdf
!ux/user-experience-cheat-sheet.md
!web/web-dev-cheat-sheet.md
!web/tool/meteor/app/practice-meteor-todo/practice-meteor-todo.css
!web/tool/meteor/app/practice-meteor-todo/practice-meteor-todo.html
!web/tool/meteor/app/practice-meteor-todo/practice-meteor-todo.js
!web/tool/meteor/app/practice-odot-angular/practice-odot-angular.css
!web/tool/meteor/app/practice-odot-angular/practice-odot-angular.html
!web/tool/meteor/app/practice-odot-angular/practice-odot-angular.js
!web/tool/meteor/app/practice-odot-angular/todos-list.ng.html
!web/tool/meteor/app/practice-odot-react/App.jsx
!web/tool/meteor/app/practice-odot-react/practice-odot-react.css
!web/tool/meteor/app/practice-odot-react/practice-odot-react.html
!web/tool/meteor/app/practice-odot-react/practice-odot-react.jsx
!web/tool/meteor/app/practice-odot-react/Task.jsx
!web/tool/polymer/polymer-cheat-sheet.md
!web/tool/polymer/polymer-cheat-sheet-basics.md
