# Ignore everything
*

# Whitelist files in the root
!.gitignore
!favorite-links.md
!README.md

# Whitelist the directories
!algorithms-and-data-structures/
!autohotkey/
!blog/
!code-practice/
!code-snippets/
!competitions/
!competitions/interview-cake/
!competitions/interview-cake/src/
!competitions/interview-cake/src/com/
!competitions/interview-cake/src/com/danialgoodwin/
!competitions/interview-cake/src/com/danialgoodwin/interviewcake/
!competitions/interview-cake/src/com/danialgoodwin/interviewcake/question/
!competitions/project-euler/
!games/
!gamification/
!git/
!languages/
!languages/javascript/
!languages/php/
!languages/php/snippets/
!languages/ruby/
!languages/ruby/project/
!languages/ruby/project/simple-todo-list/
!soft-skills/

# Whitelist the files in the directories
!algorithms-and-data-structures/algorithms-cheat-sheet.md
!algorithms-and-data-structures/graphs.md
!autohotkey/autohotkey-doubleclick.ahk
!blog/article-you-dont-like-programming.md
!blog/my-java-code-style.md
!blog/naming-conventions.md
!code-practice/*
!code-snippets/*
!competitions/interview-cake/src/com/danialgoodwin/interviewcake/*
!competitions/interview-cake/src/com/danialgoodwin/interviewcake/question/*
!competitions/project-euler/*
!games/general-game-playing.md
!gamification/*
!git/git-data-transport-commands.png
!git/git-github-cheat-sheet.md
!languages/javascript/javascript-cheat-sheet-basics.txt
!languages/php/php-cheat-sheet-beginner.txt
!languages/php/snippets/*
!languages/ruby/ruby-cheat-sheet-basics.txt
!languages/ruby/ruby-cheat-sheet-blocks.txt
!languages/ruby/ruby-cheat-sheet-oop.txt
!languages/ruby/project/simple-todo-list/*
!soft-skills/hackathon-pitches.md
